astroid==2.9.0
backports.entry-points-selectable==1.1.1
cfgv==3.3.1
click==4.1
colorama==0.4.4
commonmark==0.9.1
distlib==0.3.3
docformatter==1.4
filelock==3.4.0
flake8==4.0.1
identify==2.4.0
isort==5.10.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
nodeenv==1.6.0
numpy==1.21.4
opencv-python==4.5.4.60
platformdirs==2.4.0
pre-commit==2.16.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.10.0
pylint==2.12.1
pymarkdownlint==0.3.1
pytube==11.0.1
PyYAML==6.0
rich==10.14.0
six==1.16.0
toml==0.10.2
typing_extensions==4.0.0
untokenize==0.1.1
virtualenv==20.10.0
wrapt==1.13.3
yapf==0.31.0
